@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');
* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--header-height: 8rem;
	--padding: 1rem;
	--header-element: calc(var(--header-height) - 2*var(--padding));
	--settings-width: 50rem;
	--box-outline: 1.5rem;
	--box-shadow-opacity: 50%;
	--foreground: #000000;
	--btn-foreground: var(--background);
	--background: #ffffff;
	--over: #F5F5F5;
	--grad-out: #dddddd;
	--grad-in: var(--background);
	--accent: #59066b;
	--right: #0d6e0d;
	--wrong: #a30505;
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	background: var(--background);
}

:root[theme="dark"] {
	--box-shadow-opacity: 80%;
	--foreground: #afafaf;
	--background: #121217;
	--btn-foreground: var(--background);
	--over: #16151e;
	--grad-in: #1f1d2b;
	--grad-out: var(--background);
	--accent: #88389c;
	--right: #207e20;
	--wrong: #8f2424;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	height: var(--header-height);
}

button {
	all: unset;
	text-align: center;
	cursor: pointer;
}

.mono-text {
	font-family: 'Courier Prime', monospace;
	font-weight: 600;
}

.text {
	color: var(--foreground);
	font-size: 1.6rem;
}

.btn {
	text-transform: uppercase;
	font-size: 2.5rem;
	color: var(--btn-foreground);
	background: var(--accent);
	font-weight: 700;
	border-radius: 0.25rem;
	transition: all 0.08s linear;
}

.btn:hover { filter: hue-rotate(10deg) }

.btn:active { transform: scale(0.95) }

h1 {
	text-transform: uppercase;
	font-size: var(--header-element) !important;
	text-align: center;
	margin: 0 auto 0 auto;
}

h3 {
	text-transform: capitalize;
	font-size: 2rem !important;
	margin-bottom: 0.5rem;
}

.rainbow {
	background: linear-gradient(90deg, red, orange, yellow, green, royalblue, darkmagenta,violet);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.red { color: red !important}

.warning {
	position: relative;
	padding: 1rem;
	color: rgb(165, 0, 0);
	background-color: #fac80080;
	margin-left: 4rem;
}

.warning::before {
	content: "\26A0";
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: -4rem;
	height: 100%;
	width: 4rem;
	background-color: #fac800;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

#settings-cog {
	height: var(--header-element);
	width: var(--header-element);
	cursor: pointer;
	outline: none;
}

input[type="checkbox"], input[type="radio"] { display: none }

.cog {
	fill: var(--foreground);
	transition: transform 0.8s ease-in-out;
	transform-origin: center;
	transform-box: fill-box;
}

.cutout { fill: var(--background) }

.m { fill: var(--foreground) }

input[type="checkbox"]:checked ~ #settings-cog .cog {
	transform: rotate(135deg);
}

main {
	flex-grow: 1;
	display: grid;
	grid-template-columns: 5fr 8fr;
	overflow-x: hidden;
}

#settings {
	padding-top: 1rem;
	width: 100%;
	height: 100%;
	transition: top 0.8s ease-in-out;
	background: var(--over);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, var(--box-shadow-opacity));
	position: fixed;
	top: 100vh;
	z-index: 99;

	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
}

#settings[open="true"] { top: 0 }

#close-settings {
	font-size: 4rem;
	font-weight: bold;
	position: absolute;
	right: 4rem;
	top: 1.5rem;
	cursor: pointer;
}

.setting {
	display: block;
	width: 100%;
	padding: 2rem 4rem 1rem 4rem;
	text-align: center;
}

.setting-options {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.setting-options[name="time"] {column-gap: 2rem}

.setting-option {
	height: 3rem;
	padding: 0.7rem;
	font-size: 1.5rem;
	color: var(--foreground);
	background: linear-gradient(var(--grad-out), var(--grad-in), var(--grad-out));
	transition: all 0.1s linear;
}


input[type="radio"]:checked + .setting-option {
	background: linear-gradient(var(--grad-in), var(--grad-out), var(--grad-in));
	box-shadow: inset 1px 1px 3px #0008;
}

.input {
	background: var(--background);
	box-shadow: inset 1px 1px 3px #0008;
	width: 100%;
	height: 3rem;
	text-align: center;
}

.input:focus {outline: var(--accent) auto 1px}

#signiture {
	font-size: 1.2rem;
	position: absolute;
	bottom: 1rem;
}

#themes {
	position: absolute;
	bottom: 3rem;
}

#controls {
	padding: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-rows: 1fr 1fr 1fr;
}

.flipper {
	cursor: pointer;
	perspective: 100rem;
	color: var(--foreground);
}

.flipper-sides {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s ease-in-out;
	transform-style: preserve-3d;
}

.flipper-sides * {
	position: absolute;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
}

#guess-box {
	display: grid;
	place-items: center;
	border: var(--box-outline) solid var(--foreground);
	border-radius: 0.25rem;
	font-size: 3rem;
	font-weight: 600;
	transition: background-color 0.1s linear;
}

#info-box {
	padding: 0.5rem;
	background: var(--over);
	border: calc(var(--box-outline)/2) solid var(--foreground);
	display: grid;
	place-items: center;
	grid-template: 2fr 1fr/repeat(6, 1fr);
	gap: 0.5rem 1rem;
}

.flipper-back { transform: rotateX(-180deg) }

.flipper.hover:hover #gb-flip { transform: rotateX(20deg) }

.flipper.flipped .flipper-sides { transform: rotateX(.5turn) }

.setting-info {
	text-transform: capitalize;
	grid-row: 1/2;
	font-weight: 600;
	width: unset;
	height: unset;
}

#info-mode { grid-column: 1/3 }

#info-gg {
	grid-column: 3/5;
	width: 100%; height:100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#info-gg span {
	margin: 0 0.1rem 0 0.1rem;
	position: relative;
	width: unset;
	height: unset;
}

#info-difficulty { grid-column: 5/7 }

.info-btn {
	font-size: 1.6rem !important;
	font-weight: 500;
	width: 100%;
	height: 100%;
}

#info-reset {
	grid-row: 2/3;
	grid-column: 1/4;
}

#info-restart {
	grid-row: 2/3;
	grid-column: 4/7;
}

#timer {
	color: var(--foreground);
	font-size: 7rem;
	font-weight: 600;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#progress {
	display: grid;
	font-size: 3rem;
	grid-template-rows: 2fr 1fr;
	grid-template-columns: 1fr 1fr;
}

#progress span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#counter {
	color: var(--foreground);
	font-size: 5rem;
	grid-column: 1/3;
	padding-top: 7rem;
}

.right-box {
	background-color: var(--right);
	color: var(--btn-foreground);
	text-align: center;
	padding: 0.5rem 0 0.5rem 0;
}

.right {
	outline: 1rem solid var(--right);
	outline-offset: -1rem;
}

.wrong-box {
	background-color: var(--wrong);
	color: var(--btn-foreground);
	text-align: center;
	padding: 0.5rem 0 0.5rem 0;
}

.wrong {
	outline: 1rem solid var(--wrong);
	outline-offset: -1rem;
	display: grid;
}

#options {
	display: inherit;
	padding: var(--padding);
	gap: 1rem;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#options button {
	margin: 0rem;
	background: var(--over);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, var(--box-shadow-opacity));
	transition: all 0.1s linear;
	border-radius: 0.25rem;
	font-size: 2rem;
	font-weight: 600;
	color: var(--foreground);
}

#options button:active {
	transform: scale(0.95);
}

#modal {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal-body {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	padding: 1rem;
	border-radius: 0.25rem;
	background: var(--over);
	width: 60%;
	height: 50%;
	max-width: 800px;
}

#modal-content {
	padding: 1rem;
	overflow: auto;
}

#modal-content * {
	margin-bottom: 2rem;
}

.hidden { display: none !important }

html.trans-all, html.trans-all * {
	transition: all 0.5s ease-in-out !important;
	transition-delay: 0 !important;
}

@media(max-width: 900px) {
	main { grid-template: 5fr 8fr / 1fr }
	:root {
		--settings-width: 100%;
		--box-outline: 0.8rem;
	}
	#controls {
		row-gap: 0.5rem;
		padding: 0 1rem 0 1rem;
	}
	#info-box {	grid-template: 2fr 3fr/repeat(6, 1fr) }
	#timer { font-size: 4.5rem }
	#progress { grid-template-rows: 3fr 2fr; }
	#counter {
		font-size: 3rem;
		padding-top: 0;
	}
	#options button { font-size: 1.6rem }
	.mono-text { font-size: 1.8rem }
}
@media(max-width: 470px) {
	#options button { font-size: 1.3rem }
	#modal-body {
	grid-template-rows: 1fr 6fr 2fr;
	width: 80%;
	}
}
@media(max-width: 400px) {
	#options button { font-size: 1.1rem }
	.text { font-size: 1.4rem }
	.btn { font-size: 2rem }
}
@media(max-height: 550px) {
	#controls { grid-template-rows: 3fr 2fr 3fr }
	#timer { font-size: 3.5rem; }
	#guess-box { font-size: 2.5rem; }
}