* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--header-height: 8rem;
	--padding: 1rem;
	--header-element: calc(var(--header-height) - 2*var(--padding));
	--settings-width: 50rem;
	--box-shadow-opacity: 50%;
	--foreground: #000000;
	--btn-foreground: var(--background);
	--background: #ffffff;
	--over: #F5F5F5;
	--grad-out: #dddddd;
	--grad-in: var(--background);
	--accent: #59066b;
	--right: #075207;
	--wrong: #810606;
	font-size: 62.5%;
	font-family: sans-serif;
	background: var(--background);
}

:root[theme="dark"] {
	--box-shadow-opacity: 80%;
	--foreground: #afafaf;
	--background: #121119;
	--btn-foreground: var(--background);
	--over: #15141f;
	--grad-in: #1e1b2d;
	--grad-out: var(--background);
	--accent: #88389c;
	--right: #207e20;
	--wrong: #8f2424;
}

button {
	all: unset;
	text-align: center;
	cursor: pointer;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	height: var(--header-height);
}

.mono-text {
	font-family: Courier;
	display: inline-flex;
	font-weight: 600;
	justify-content: center;
	align-items: center;
}

.text {
	font-family: Helvetica;
	color: var(--foreground);
	font-size: 1.6rem;
}

h1 {
	font-size: var(--header-element) !important;
	text-align: center;
	margin: auto;
}

.rainbow {
	background: linear-gradient(90deg, red, orange, yellow, green, royalblue, darkmagenta,violet);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#logo {
	height: var(--header-element);
	width: var(--header-element);
	cursor: pointer;
	outline: none;
}

input[type="checkbox"], input[type="radio"] {
	display: none;
}

.cog {
	fill: var(--foreground);
	transition: transform 0.8s ease-in-out;
	transform-origin: center;
	transform-box: fill-box;
}

.cutout { fill: var(--background) }

.m { fill: var(--foreground); }

input[type="checkbox"]:checked ~ #logo .cog {
	transform: rotate(135deg);
}

main {
	flex-grow: 1;
	display: grid;
	grid-template-columns: 5fr 8fr;
}

#settings {
	width: 0;
	transition: width 0.8s ease-in-out;
	background: var(--over);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, var(--box-shadow-opacity));
	position: absolute;
	right: 0;
	bottom: 0;
	top: var(--header-height);

	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

#settings[open="true"] { width: var(--settings-width) }

.setting {
	display: block;
	width: 100%;
	padding: 2rem 4rem 1rem 4rem;
	opacity: 0;
	text-align: center;
	transition: opacity 0.8s ease-in-out;
}

#settings[open="true"] .setting { opacity: 100% }

h2 {
	white-space: nowrap;
	overflow: hidden;
	font-size: 2rem !important;
	margin-bottom: 0.5rem;
}

.setting-options {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	transition: opacity 0.5s linear;
}

.setting-options[name="time"] {column-gap: 2rem}

.setting-option {
	height: 3rem;
	padding: 0.7rem;
	font-size: 1.5rem;
	color: var(--foreground);
	background: linear-gradient(var(--grad-out), var(--grad-in), var(--grad-out));
	transition: all 0.1s linear;
}


input[type="radio"]:checked + .setting-option {
	background: linear-gradient(var(--grad-in), var(--grad-out), var(--grad-in));
	box-shadow: inset 1px 1px 3px #0008;
}

.input {
	background: var(--background);
	box-shadow: inset 1px 1px 3px #0008;
	width: 100%;
	height: 3rem;
	text-align: center;
}

.input:focus {outline: var(--accent) auto 1px}

#signiture {
	font-size: 1.2rem;
	position: absolute;
	bottom: 1rem;
	white-space: nowrap;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}

#settings[open="true"] #signiture { opacity: 100% }

#themes {
	position: absolute;
	bottom: 3rem;
}

#controls {
	margin: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-rows: 1fr 2fr;
}

#guess-box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.5rem solid var(--foreground);
	border-radius: 0.25rem;
	font-size: 3rem;
	font-weight: 600;
	color: var(--foreground);
	transition: all 0.1s linear;
}

#control-box {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.btn {
	font-size: 2.5rem;
	color: var(--btn-foreground);
	background: var(--accent);
	font-weight: 700;
	border-radius: 0.25rem;
	transition: all 0.08s linear;
}

.btn:hover {
	font-size: 2.7rem;
	filter: hue-rotate(10deg);
}

.btn:active {
	font-size: 2.3rem;
	margin: 0.5rem;
}

#timer {
	color: var(--foreground);
	font-size: 7rem;
	font-weight: 600;
}

#progress {
	display: grid;
	font-size: 3rem;
	grid-template-rows: 2fr 1fr;
	grid-template-columns: 1fr 1fr;
}

#right {
	background-color: var(--right);
	color: var(--btn-foreground);
}

.right {
	outline: 1rem solid var(--right);
	outline-offset: -1rem;
}

#wrong {
	background-color: var(--wrong);
	color: var(--btn-foreground);
}

.wrong {
	outline: 1rem solid var(--wrong);
	outline-offset: -1rem;
}

#counter {
	color: var(--foreground);
	font-size: 5rem;
	grid-column: 1/3;
}

#options {
	display: inherit;
	padding: var(--padding);
	gap: 1rem;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#options button {
	margin: 0rem;
	background: var(--over);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, var(--box-shadow-opacity));
	transition: all 0.1s linear;
	border-radius: 0.25rem;
	font-size: 2rem;
	font-weight: 600;
	color: var(--foreground);
}

#options button:active {
	margin: 0.5rem;
	font-size: 1.9rem;
}

#modal {
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal-body {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	padding: 1rem;
	border-radius: 0.25rem;
	background: var(--over);
	width: 60%;
	height: 50%;
}

#modal-content {
	padding: 1rem;
}

.hidden { display: none !important; }

html.trans-all, html.trans-all * {
	transition: all 0.5s ease-in-out !important;
	transition-delay: 0 !important;
}

@media(max-width: 900px) {
	main { grid-template: 5fr 8fr / 1fr }
	:root { --settings-width: 100% }
	#guess-box { border-width: 0.8rem }
	#timer { font-size: 5rem }
	#progress { grid-template-rows: 3fr 2fr; }
	#counter { font-size: 3rem }
	#options button { font-size: 1.6rem }
	#options button:active { font-size: 1.5rem }
	.mono-text { font-size: 1.8rem }
}
@media(max-width: 470px) {
	#options button { font-size: 1.3rem }
	#options button:active { font-size: 1.2rem }
	#modal-body {
	grid-template-rows: 1fr 6fr 2fr;
	width: 80%;
	}
	#modal-button { font-size: 2rem; }
	#modal-button:hover { font-size: 2.1rem; }
	#modal-button:active { font-size: 1.9rem; }
}
@media(max-width: 400px) {
	#options button { font-size: 1.1rem }
	#options button:active { font-size: 1rem }
	.text { font-size: 1.4rem }
}